// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #48F6F5;
$dark-blue: #0810BA;
$purple: #8C36D0;
$pink: #ED33CC;
$yellow: #FFC65A;
$orange: #F7561C;
$green: #1EDD88;
$gray: #14B2AF;
$light-gray: #F4F4F4;
$black:#030303
