// Specific CSS for your home-page

.description {
  display: flex;
  // flex-wrap: wrap;
  padding: 10vh 8vw 10vh 8vw;

  .visuals {
    display: flex;
    // flex-wrap: wrap;
    margin-bottom: 5vh;

    .portrait img {
      max-width: 20vw;
      height: auto;
      object-fit:cover;
      border-radius:50%;
      margin-bottom: 8vh;
    }

    .quote {
      // padding: 0vh 30vw 10vh 30vw;
      margin-right: 10vw;
      margin-left: 10vw;
      // max-width: 20vw;

      img {
        width: 5vw;
        height: auto;
        padding: 5px;
      }
    }
  }

  .info-text {
    text-align: justify;
    // max-width: 33vw;

    h2 {
      margin-bottom: 5vh;
    }
  }

}


@media only screen and (max-width: 1300px) {

  .description {
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 8vw 10vh 8vw;

    .visuals {
      display: flex;
      // flex-wrap: wrap;
      align-items: center;

      .portrait img {
        max-width: 25vw;
        height: auto;
        object-fit:cover;
        border-radius:50%;
        margin-bottom: 8vh;
        display: flex;
        align-items: center;
      }

      .quote {
        // padding: 0vh 30vw 10vh 30vw;
        margin-right: 10vw;
        margin-left: 10vw;
        // max-width: 80vw;
        display: flex;
        align-items: center;

        img {
          width: 5vw;
          height: auto;
          padding: 5px;
        }
      }
    }

    .info-text {
      text-align: justify;
      margin-right: 10vw;
      margin-left: 10vw;

      h2 {
        margin-bottom: 5vh;
      }
    }

  }

}


@media only screen and (max-width: 500px) {

  .description {
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 8vw 10vh 8vw;

    .visuals {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5vh;

      .portrait img {
        max-width: 50vw;
        height: auto;
        object-fit:cover;
        border-radius:50%;
        margin-bottom: 8vh;
      }

      .quote {
        // padding: 0vh 30vw 10vh 30vw;
        margin-right: 10vw;
        margin-left: 10vw;
        // max-width: 20vw;

        img {
          width: 5vw;
          height: auto;
          padding: 5px;
        }
      }
    }

    .info-text {
      text-align: justify;
      // max-width: 33vw;

      h2 {
        margin-bottom: 5vh;
      }
    }

  }

}
