<div class=description>
  <div class="visuals">
    <div class="portrait">
      <%= image_tag "nat.jpg" %>
    </div>

    <div class="quote">
      <h2>
        <%= image_tag "quoter.png" %>
        I want to CREATE A WORLD where coding skills are used to gain INDEPENDENCE by SOLVING real world PROBLEMS
        <%= image_tag "quotel.png" %>
      </h2>
    </div>
  </div>

  <div class=info-text>
    <h2>THE IDEA</h2>
    <p>My name is Natalija. I started as a biochemistry PhD student in Cambridge; now I do web development and graphic design, creating websites such the one that you've just landed on. I believe that science and technology have unlimited potential and I want to harness that to drive innovation.</p>
    <p>A lot of Cambridge students know how to code and a lot of business need coders. However, students can't commit to a full-time job during their studies, and businesses don't necessarily want to hire a full-time coder. To solve this problem, I created an online platform (GigsForGeeks) that focuses on promoting freelancing in coding among Cambridge students, postdocs and alumni. Companies can deposit coding projects they need completed and can rest assured that top-tier university students are on it. Ready to give it a go?</p>
  </div>

</div>
