.banner {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%,
  rgba(0,0,0,0.2) 50%),
  url('splashes_small.png');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  width: 100vw;
  background-color: $black;
  color: white;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    padding-top: 20vmin;
    padding-left: 10vw;
    padding-right: 4vw;
    line-height: 2;
    font-weight: 100;

  }

  .buttons {
    margin-left: 10vw;
    margin-top: 7vh;
  }

  .cta-blue {
    margin-right: 25px;
    margin-bottom: 7vh;
  }

  .cta {
    margin-bottom: 7vh;
  }

  .feedback {
    margin-left: 10vw;
  }

}
