.navbar-gfg {
  justify-content: space-between;
  background: $black;
  color: white;
  height: 10vh;
  padding: 1vh 3vh 1vh 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-gfg .navbar-collapse {
  flex-grow: 0;
}

.navbar-gfg .navbar-brand img {
  height: 7vh;
}


// padding: 25px 50px 75px 100px;
// top padding is 25px
// right padding is 50px
// bottom padding is 75px
// left padding is 100px
