<div class="banner">
  <h1>Creative coders can <br>
  INDEPENDENTLY SOLVE real world <br>
  PROBLEMS</h1>

  <div class="buttons">
    <button class="cta-blue">
      <span><%= link_to "I'm a business", "/", class: "link" %></span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>

    <button class="cta">
      <span><%= link_to "I'm a freelancer", "/", class: "link" %></span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
  </div>

  <div class="feedback">
    <button class="glow"> <%= link_to "Please give me some feedback!", "https://forms.gle/p1Rv2jB9fgR6Kc4S8", class: "link" %>
    </button>
  </div>

</div>
