<div class="navbar-gfg">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo_text_white.png" %>
  <% end %>
  <%# <%= link_to "Random suggestion", suggestions_path, class: "link" %>
  <%= link_to "HOME", "/", class: "link" %>
</div>
